* {
    margin: 0;
    padding: 0
}

#version {
    margin-left: 75%;
    font-size: 80%;
    color: #4f354f
}

def {
    text-decoration-style: dashed;
}

.evil {
    filter: contrast(150%) hue-rotate(180deg) saturate(300%);
}

.afflicted {
    filter:  grayscale(50%) blur(1px) brightness(199%) hue-rotate(350deg);
]

html {
    height: 100%
}

body {
    background: #151315;
    font: 14px monospace;
    height: 100%
}

img.desaturate {
    filter: grayscale(1)
}

select {
    width: 112px;
    font-size: 12px;
    font-family: monospace
}

select.numbers {
    width: 40px;
    font-size: 12px;
    font-family: monospace
}

select.fatal {
    width: 60px;
    font-size: 12px;
    font-family: monospace
}

a:link {
    color: #00ffff;
    font-weight: 700;
    text-decoration: none
}

a:visited {
    color: #00ffff;
    font-weight: 700;
    text-decoration: none
}

a:hover {
    color: #00ffff;
    font-weight: 700;
    text-decoration: underline
}

a:active {
    color: #00ffff;
    font-weight: 700;
    text-decoration: underline
}

a.navbar2:link {
    color: #fff;
    font-weight: 700;
    text-decoration: none
}

a.navbar2:visited {
    color: #fff;
    font-weight: 700;
    text-decoration: none
}

a.navbar2:hover {
    color: #fff;
    font-weight: 700;
    text-decoration: underline
}

a.navbar2:active {
    color: #fff;
    font-weight: 700;
    text-decoration: underline
}

a.navbar3:link {
    color: #dbdb57;
    font-weight: 700;
    text-decoration: none
}

a.navbar3:visited {
    color: #dbdb57;
    font-weight: 700;
    text-decoration: none
}

a.navbar3:hover {
    color: #dbdb57;
    font-weight: 700;
    text-decoration: underline
}

a.navbar3:active {
    color: #dbdb57;
    font-weight: 700;
    text-decoration: underline
}

a.navbar2A {
    font-size: 13px
}

a.navbar3A {
    font-size: 13px
}

a.navbar2A:link {
    color: #fff;
    text-decoration: none
}

a.navbar2A:visited {
    color: #fff;
    text-decoration: none
}

a.navbar2A:hover {
    color: #fff;
    text-decoration: underline
}

a.navbar2A:active {
    color: #fff;
    text-decoration: underline
}

a.navbar3A:link {
    color: #dbdb57;
    text-decoration: none
}

a.navbar3A:visited {
    color: #dbdb57;
    text-decoration: none
}

a.navbar3A:hover {
    color: #dbdb57;
    text-decoration: underline
}

a.navbar3A:active {
    color: #dbdb57;
    text-decoration: underline
}

p {
    margin: 0 0 18px
}

img {
    height: 90px;
    width: 90px;
    border: 1px solid #000
}

img.logo {
    height: 115px;
    width: 175px;
    border: none
}

#submit {
    vertical-align: middle;
    text-align: center;
    width: 50px
}

#reset {
    vertical-align: middle;
    text-align: center;
    width: 50px
}

input {
    vertical-align: middle;
    text-align: left;
    width: 180px
}

input.color {
    width: 60px;
    text-align: center
}

input.preview {
    width: 60px;
    text-align: center
}

input.relationship {
    width: 70px;
    text-align: center
}

input.resetrelationship {
    width: 90px;
    text-align: center
}

#gender {
    width: 42px;
    text-align: center
}

#logo {
    width: 130px;
    text-align: center
}

#wrapper {
    min-width: 1000px;
    min-height: 100%;
    height: auto!important;
    height: 100%
}

#header {
    height: 115px;
    background: #000000;
    border: 1px solid #ffff00;
    width: 180px;
    position: relative;
    left: 20px;
    top: 10px
}

#header img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

#middle {
    position: relative;
    top: 0
}

#middle:after {
    content: '';
    clear: both;
    display: table
}

#container {
    width: 100%;
    float: left
}

#container2 {
    width: 100%;
    float: left
}

#links {
    margin: 0 0 0 220px;
    position: relative;
    top: -107px
}

#sideLeft {
    text-align: center;
    border-top: 1px solid #ffff00;
    border-left: 1px solid #ffff00;
    border-right: 1px solid #ffff00;
    border-bottom: 1px solid #ffff00;
    float: left;
    width: 180px;
    position: relative;
    left: 20px;
    top: 0;
    background: #000000;
    margin-top: -58px;
    color: #fff
}

#sideLeft2 {
    text-align: center;
    border-top: 1px solid #ffff00;
    border-left: 1px solid #ffff00;
    border-right: 1px solid #ffff00;
    border-bottom: 1px solid #ffff00;
    float: left;
    width: 180px;
    position: relative;
    left: 20px;
    top: 20px;
    background: #000000;
    clear: left
}

#sideLeft3 {
    text-align: center;
    border-top: 1px solid #ffff00;
    border-left: 1px solid #ffff00;
    border-right: 1px solid #ffff00;
    border-bottom: 1px solid #ffff00;
    float: left;
    width: 180px;
    position: relative;
    left: 20px;
    top: 40px;
    background: #000000;
    clear: left
}

#sideLeft4 {
    text-align: center;
    float: left;
    width: 120px;
    height: 240px;
    position: relative;
    left: 50px;
    top: 60px;
    clear: left
}

#title {
    text-align: center;
    border: 1px solid #ffff00;
    background: #000000;
    margin-left: 70px;
    margin-right: auto;
    color: #00ffff;
    display: inline-block;
    padding: 5px
}

#seasonHolder {
    text-align: center;
    width: 610px;
    position: relative;
    top: -90px;
    left: 220px
}

#titleHolder {
    text-align: center;
    width: 610px;
    position: relative;
    top: -75px;
    left: 220px
}

#content {
    text-align: center;
    width: 660px;
    position: absolute;
    margin-top: -58px;
    left: 220px;
    float: left;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    padding: 5px
}

#footer {
    position: absolute;
    left: 0;
    width: 180px;
    border-top: 1px solid #ffff00
}

ul#nav {
    margin: 0 0 0 0;
    background: #000000
}

ul.drop a {
    display: block;
    color: #fff;
    font-family: Verdana;
    font-size: 1em;
    text-decoration: none
}

ul.drop,ul.drop li,ul.drop ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #000000;
    color: #fff
}

ul.drop li2 {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #000000;
    color: #fff
}

ul.drop {
    position: relative;
    z-index: 597
}

ul.drop li {
    float: left;
    line-height: 20px;
    vertical-align: middle;
    padding: 5px 10px;
    width: 160px;
    text-align: center;
    border-top: 1px solid #ffff00;
    border-bottom: 1px solid #ffff00;
    border-right: 1px solid #ffff00
}

ul.drop li2 {
    float: left;
    background: #000000;
    line-height: 20px;
    vertical-align: middle;
    padding: 5px 10px;
    width: 112px;
    text-align: center;
    border: 1px solid #ffff00
}

ul.drop li3 {
    float: left;
    background: #000000;
    line-height: 20px;
    vertical-align: middle;
    padding: 5px 10px;
    width: 112px;
    text-align: center;
    border-top: 1px solid #ffff00;
    border-right: 1px solid #ffff00;
    border-bottom: 1px solid #ffff00
}

ul.drop li.hover,ul.drop li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
    background: #fb8200
}

ul.drop li2.hover,ul.drop li2:hover {
    position: relative;
    z-index: 599;
    cursor: default;
    background: #fb8200
}

ul.drop li3.hover,ul.drop li3:hover {
    position: relative;
    z-index: 599;
    cursor: default;
    background: #fb8200
}

ul.drop ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: -1px;
    z-index: 598;
    text-align: center;
    background: #555;
    border-left: 1px solid #ffff00;
    border-top: 1px solid #ffff00
}

ul.drop ul li {
    float: none
}

ul.drop ul li2 {
    float: none
}

ul.drop ul ul {
    top: -1px;
    left: 100%
}

ul.drop li:hover>ul {
    visibility: visible
}

ul.drop ul li:first-child {
    border-top: none
}

ul.drop ul li:last-child {
    border-bottom: 1px solid #ffff00
}

ul.drop li2:hover>ul {
    visibility: visible
}

ul.drop li3:hover>ul {
    visibility: visible
}

ul.drop ul li2:first-child {
    border-top: none
}

ul.drop ul li3:first-child {
    border-top: none
}

ul.drop ul li2:last-child {
    border-bottom: 1px solid #ffff00
}

ul.drop ul li3:last-child {
    border-bottom: 1px solid #ffff00
}

table.one {
    table-layout: fixed;
    width: 108px;
    background-color: #151315;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    font-family: monospace;
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

table.two {
    table-layout: fixed;
    width: 234px;
    background-color: #151315;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    font-family: monospace;
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

table.three {
    table-layout: fixed;
    width: 350px;
    background-color: #151315;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    font-family: monospace;
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

table.threetwo {
    table-layout: fixed;
    width: 370px;
    background-color: #151315;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    font-family: monospace;
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

table.four {
    table-layout: fixed;
    width: 465px;
    background-color: #151315;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    font-family: monospace;
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

table.five {
    table-layout: fixed;
    width: 582px;
    background-color: #151315;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    font-family: monospace;
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

table.five {
    table-layout: fixed;
    width: 582px;
    background-color: #151315;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    font-family: monospace;
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

table.six {
    table-layout: fixed;
    width: 650px;
    background-color: #151315;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    font-family: monospace;
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

table.tribute {
    table-layout: fixed;
    width: 650px;
    background-color: #151315;
    border: 1px;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    font-family: monospace;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word
}

table.tributefour {
    table-layout: fixed;
    width: 465px;
    background-color: #151315;
    border: 1px;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    font-family: monospace;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word
}

table.tributeCustom {
    table-layout: fixed;
    width: 650px;
    background-color: #151315;
    border: 1px;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    font-family: monospace;
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

table.tributeCustomfour {
    table-layout: fixed;
    width: 465px;
    background-color: #151315;
    border: 1px;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    font-family: monospace;
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

table.tributeCustom select {
    width: 100px;
    font-size: 12px;
    font-family: monospace
}

table.tributeCustomfour select {
    width: 100px;
    font-size: 12px;
    font-family: monospace
}

table.tribute td.district {
    font-size: 16px;
    display: table-cell;
    vertical-align: top
}

table.tributefour td.district {
    font-size: 16px;
    display: table-cell;
    vertical-align: top
}

table.tributeCustom td.district {
    font-size: 16px;
    display: table-cell;
    vertical-align: top
}

table.tributeCustomfour td.district {
    font-size: 16px;
    display: table-cell;
    vertical-align: top
}

table.personal3 {
    width: 350px;
    background-color: #151315;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    font-family: monospace;
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

table.personal4 {
    width: 582px;
    background-color: #151315;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    font-family: monospace;
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

table.personal {
    width: 582px;
    background-color: #151315;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    font-family: monospace;
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

table.personalHG {
    width: 600px;
    background-color: #151315;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    font-family: monospace;
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

table.statistics {
    position: relative;
    vertical-align: top;
    text-align: left;
    width: 582px;
    background-color: #151315;
    color: #fff;
    font-size: 14px;
    font-family: monospace;
    margin-left: auto;
    margin-right: auto
}

table.summary {
    position: relative;
    vertical-align: top;
    text-align: left;
    background-color: #151315;
    color: #fff;
    font-size: 14px;
    font-family: monospace;
    margin-left: auto;
    margin-right: auto
}

table td {
    display: table-cell;
    vertical-align: top
}

input.ChangeShow {
    width: 120px;
    text-align: center
}

input.MakeEvicted {
    width: 180px;
    text-align: center
}

input.MakeEvictedBW {
    width: 200px;
    text-align: center
}

input.MakeEvictedNames {
    width: 250px;
    text-align: center
}

input.MakeEvictedSkip {
    width: 160px;
    text-align: center
}

increasingpopularity {
    color: #3f0;
    font-size: 16px;
    font-weight: 700;
    font-family: monospace
}

decreasingpopularity {
    color: #f03;
    font-size: 16px;
    font-weight: 700;
    font-family: monospace
}

otherpopularity {
    color: #f03;
    font-size: 16px;
    font-weight: 700;
    font-family: monospace
}

table.CustomText {
    width: 600px
}

table.CustomText td.Description {
    text-align: right;
    width: 100px
}

table.CustomText td.Long {
    text-align: left;
    width: 500px
}

input.Long {
    width: 500px
}
